@font-face {
  font-family: "iconfont"; /* Project id 2742617 */
  src: url('iconfont.woff2?t=1630999200830') format('woff2'),
       url('iconfont.woff?t=1630999200830') format('woff'),
       url('iconfont.ttf?t=1630999200830') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-screenshot:before {
  content: "\e677";
}

.icon-silence:before {
  content: "\eb5e";
}

.icon-volume:before {
  content: "\eb5f";
}

.icon-guanbi:before {
  content: "\e607";
}

.icon-download:before {
  content: "\e865";
}

.icon-loading:before {
  content: "\e730";
}

.icon-replay-arrow:before {
  content: "\e600";
}

.icon-quxiaoquanping_huaban:before {
  content: "\e624";
}

.icon-quanping:before {
  content: "\e671";
}

.icon-picture-in-picture-fill:before {
  content: "\eef9";
}

.icon-kaiqiluzhi:before {
  content: "\e619";
}

.icon-guanbiluzhi:before {
  content: "\e61a";
}

.icon-loadfailed:before {
  content: "\e6c8";
}

.icon-zanting:before {
  content: "\e638";
}

.icon-play:before {
  content: "\e80f";
}

